#!/bin/bash

# $LAB - Just an identifier, not used as variable anywhere
LAB=norcaldns1
# $REVERSE_PRIMARY_WITH_SLAVE - If set to "true" will swap the primary and slave zones during build time
REVERSE_PRIMARY_WITH_SLAVE=false

# $SOA_DNS_SERVER & $SOA_DNS_IP_ADDRESS - Authoritative DNS server for primary zones
SOA_DNS_SERVER=norcaldns1.se.lab.emc.com
SOA_DNS_IP_ADDRESS=10.0.0.1

# $SOA_EMAIL_ADDRESS - Admin for the zone, replace @ with a .
SOA_EMAIL_ADDRESS=norcallab.emc.com

# $SECONDARY_DNS_SERVER & $SECONDARY_DNS_IP_ADDRESS - Authoritative DNS server for slave zones
SECONDARY_DNS_SERVER=paclabsdns1.se.lab.emc.com
SECONDARY_DNS_IP_ADDRESS=10.0.0.2

# $PRIMARY_FORWARD_ZONES - Array of values separated by spaces, primary forward zones to create
PRIMARY_FORWARD_ZONES=(se.lab.emc.com norcal.se.lab.emc.com)

# $PRIMARY_REVERSE_ZONES - Array of values separated by spaces, primary reverse zones to create
# Enter the network address, only supports /24 networks
PRIMARY_REVERSE_ZONES=(10.0.0.1 10.0.0.2)

# $SLAVE_FORWARD_ZONES - Array of values separated by spaces, secondary forward zones to create
SLAVE_FORWARD_ZONES=(paclabs.se.lab.emc.com)

# $SLAVE_REVERSE_ZONES - Array of values separated by spaces, primary reverse zones to create
# Enter the network address, only supports /24 networks
SLAVE_REVERSE_ZONES=()
