#vSphere Section
vsphere_username=""
vsphere_password=""
vsphere_vcenter=""
vsphere_vm_name="NorCalDNS1"
vsphere_os_hostname="norcaldns1"
vsphere_vcpu="2"
vsphere_memory="4096"
vsphere_port_group_1=""
vsphere_datastore=""
vsphere_datacenter=""
vsphere_cluster=""
vsphere_folder=""
vsphere_template="template-centos7"

#Environment Section
dns=["",""]
domain=""
ipv4_address_1 = ""
ipv4_prefix_length_1 = ""
ipv4_gateway_1 = ""
